.converter {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 10px;
}

.title {
    font-size: 20px;
}

.area {
    height: 200px;
}

button {
    background: #ffa07a;
    border: 0;
    margin-right: 5px;
    padding: 8px;
}